<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over">
    <!-- список задач как его отаброзить
    1)должен быть массив задач на каждом дне?
    2)один большой объект где ключ = дата а значение = массив с задачами  -->


    <!-- По нажатию на кнопку добавить диалоговое окно с инуптом  -->
    <button mat-icon-button aria-label="add task btn" color="primary" (click)="openDialog()">
      <mat-icon> done_outline_icon</mat-icon>
    </button>

    <!-- условие если список задач не 0
      кнопка удалить и редактировать существуют
      и подвязанны под выбранную Таску-->
    <button mat-icon-button aria-label="edit task btn">
      <mat-icon>border_color_icon</mat-icon>
    </button>

    <button mat-icon-button color="warn" aria-label="delete task btn">
      <mat-icon>delete_forever_icon</mat-icon>
    </button>
  </mat-drawer>

  <div>
    <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
    <datepicker-inline-calendar-example (selectedChange)="drawer.toggle()"></datepicker-inline-calendar-example>
  </div>

</mat-drawer-container>
